<%= form_for(@book, :html => { :multipart => true }) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cover %><br />
    <%= f.file_field :cover %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>

  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>

  <div class="field">
    <%= f.label :edition %><br />
    <%= f.text_field :edition %>
  </div>

  <div class="field">
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </div>

  <div class="field">
    <%= f.label :author_name %><br />

    <%= f.autocomplete_field :author_name, autocomplete_author_name_books_path %>

  </div>

  <hr/>
      <div class="field">
        <%= f.fields_for :booksamples do |builder| %>
            <%= builder.label 'Booksample' %>: 
            <%= builder.text_field :barcode %><br/>
        <% end %>
      </div>
  <hr/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
