<h1>Listing loans</h1>

<table>
  <tr>
    <th>Loan date</th>
    <th>Deliver date</th>
    <th>Student</th>
    <th>Booksample</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%= loan.loan_date %></td>
    <td><%= loan.deliver_date %></td>
    <td><%= loan.student.registration %></td>
    <td><%= link_to loan.booksample.book.title, loan.booksample.book %></td>
    <td><%= link_to 'Show', loan %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
    <td><%= link_to 'Destroy', loan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loan', new_loan_path %>
